<!DOCTYPE html>
<html class="no-js"  lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Shopper | B C Williams - Dev</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/72cf54f64d.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header -->
    <div class="top-bar topbar-main-margin align-center bottom-border-shadow">
        <a href="/" class="brand-header-text">Recipe Shopper</a>
    </div>
    <!-- Menu bar / greeting mobile -->
    <div class="title-bar" data-responsive-toggle="dashboard-menu" data-hide-for="medium">
        <div class="title-bar-left">
            <span class="title-bar-title">Go Shop!</span>
        </div>
        <div class="title-bar-right">
            <button class="menu-icon" type="button" data-toggle="dashboard-menu"></button>
            <span class="title-bar-title">Menu</span>
        </div>
    </div>
    <div class="top-bar bottom-border-shadow padding-horizontal-2" id="dashboard-menu">
        <div class="title-bar-left show-for-medium">
            <span class="title-bar-title">Welcome, {{session['user_first_name']}}!</span>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu align-right" data-dropdown-menu>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logoff</a></li>
            </ul>
        </div>
    </div>

    <main>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-6 border">
                    <!-- Column Header -->
                    <div class="top-bar align-center">
                        <h2 class="column-header-text">Weekly Plan</h2>
                    </div>
                    <!-- Week Scroller -->
                    <div class="date-scroll">
                        <div class="grid-x grid-padding-x grid-padding-y">
                            <div class="cell small-2 text-left">
                                <i class="fa-solid fa-lg fa-arrow-left-long"></i>
                            </div>
                            <div class="cell small-8 text-center">Week {{ date }}</div>
                            <div class="cell small-2 text-right">
                                <i class="fa-solid fa-lg fa-arrow-right-long"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Weekly Plan Column Body -->
                    <table>
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Dish</th>
                                <th>Servings</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if shopping_list %}
                            {% for category in shopping_list %}
                            <tr>
                                <td>Content Goes Here</td>
                                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                                <td>Content Goes Here</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <td colspan="3">Weekly Plan Empty</td>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="cell medium-6 border">
                    <!-- Week Scroller -->
                    <div class="top-bar align-center">
                        <h2 class="column-header-text">Shopping List</h2>
                    </div>
                    <div class="date-scroll">
                        <div class="grid-x grid-padding-x grid-padding-y">
                            <div class="cell small-2 text-left">
                                <i class="fa-solid fa-lg fa-arrow-left-long"></i>
                            </div>
                            <div class="cell small-8 text-center">Week {{ date }}</div>
                            <div class="cell small-2 text-right">
                                <i class="fa-solid fa-lg fa-arrow-right-long"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Shopping List Column Body -->
                    <ul class="accordion" data-accordion>

                        {% if shopping_list %}

                        {% for category in shopping_list %}
                        <li class="accordion-item is-active" data-accordion-item>
                            <a class="accordion-title accordion-title-font">{{category.name}}</a>
                            <div class="accordion-content" data-tab-content>
                                <p>Panel 1. Lorem ipsum dolor</p>
                            </div>
                        </li>
                        {% endfor %}
                        {% else %}
                        <div class="top-bar align-center">
                            <h4>Shopping List Empty</h4>
                        </div>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </main>


    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>

    <script>
        $(document).foundation();
    </script>
</body>

</html>