<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Shopper | B C Williams - Dev</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="top-bar topbar-main-margin align-center">
        <a href="/" class="brand-header-text">Recipe Shopper</a>
    </div>
    <div class="title-bar" data-responsive-toggle="login-menu" data-hide-for="medium">
        <div class="title-bar-left">
            <span class="title-bar-title">Go Shop!</span>
        </div>
        <div class="title-bar-right">
            <button class="menu-icon" type="button" data-toggle="login-menu"></button>
            <span class="title-bar-title">Menu</span>
        </div>
    </div>
    <div class="top-bar" id="login-menu">
        <div class="top-bar-right">
            <ul class="dropdown menu align-right" data-dropdown-menu>
                <li><a data-open="add_item">Add item</a></li>
                <li><a href="/logout">Logoff</a></li>
            </ul>
        </div>
    </div>

    <main>
        <div class="grid-container">
            <div class="grid-x align-spaced">
                <div class="col">
                    <!-- Button trigger login modal -->
                    <button class="button fixed-button" data-open="login_modal">Login</button>
                </div>
                <div class="col">
                    <!-- Button trigger register modal -->
                    <button class="button fixed-button" data-open="registration_modal">Register</button>
                </div>
            </div>

            <!-- Login / Reg error messages -->
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <p class="flash"><strong>{{message}}</strong></p>
            {% endfor %}
            {% endwith %}

        </div>
    </main>

    <div class="reveal modals" id="login_modal" data-reveal>
        <h1 class="text-center brand-header-text">Add an item</h1>
        <form class="margin-vertical-2" action="/add_item" method="POST">
            <div class="input-group">
                <input name="email" class="input-group-field" type="text" placeholder="Username">
            </div>
            <div class="input-group">
                <input name="password" class="input-group-field" type="password" placeholder="Password">
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <div>
                    <span aria-hidden="true">&times;</span>
            </button>
            <div class="grid-x align-center">
                <input type="submit" class="button fixed-button" value="Log in">
            </div>
        </form>
    </div>


    <script src="{{url_for('static', filename='/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='/js/foundation.min.js') }}"></script>

    <script>
        $(document).foundation();
    </script>
</body>

</html>